@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --primary: #FF6E30;
  --secondary: #748FB5;
  --dark : #1E252B;
  --light: #6E757C;
  --white: #ffffff;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--dark);
}
.primary{
  color: var(--primary) !important;
}
.secondary{
  color: var(--secondary) !important;
}
.dark{
  color: var(--dark) !important;
}
.light{
  color: var(--light) !important;
}
.white{
  color: var(--white) !important;
}
.button{
  display: inline-block;
  padding: 10px 25px;
  color: var(--white);
  background: var(--primary);
  border-radius: 15px;
}
.button:hover{
  color: var(--primary);
  background: var(--white);
  text-decoration: none;

}
.navbar-brand img{
  width: 140px;
}
.navbar-nav .nav-item .nav-link{
  color: var(--light);
  margin: 20px 5px;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item.active .nav-link{
  color: var(--primary);
}
.navbar-nav.login-signup .nav-link.signup{
  background: var(--primary);
  border-radius: 15px;
  padding: 10px 25px;
  color: var(--white);
}
.navbar-nav.login-signup .nav-link.signup:hover{
  background: var(--white);
  border-radius: 15px;
  padding: 10px 25px;
  color: var(--primary);
}
/* home landing screen css starts here*/
.landing-screen{
  padding-top: 200px;
  padding-bottom: 200px;
}
.landing-screen .risk-free span{
  text-transform: uppercase;
}
.landing-screen .title{
  width: 70%;
}
.landing-screen .title h1{
  font-weight: bolder;
  font-size: 52px;
  letter-spacing: 2px;
}
.landing-screen .description{
  width: 50%;
}
.landing-screen .cta .how-it-works{
  color: var(--light);
  background: transparent;
  border: 2px solid var(--light);
}
.landing-screen .cta .how-it-works:hover{
  color: var(--primary);
  background: transparent;
  border: 2px solid var(--primary);
}
.landing-screen .figures-1 {
  top: 15%;
  right: 0;
  max-width: 50%;
}
.landing-screen .figures-2 {
  max-width: 25%;
  right: 13%;
  z-index: 1;
  top: 24%;
}
.landing-screen .figures-3 {
  right: 35%;
  max-width: 20%;
}
.landing-screen .figures-3 img{
  animation: moveCycle 2s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}
/* landing screen ends here */
/* partners screen starts here */
.partners{
  padding-top: 160px;
  padding-bottom: 160px;
}
/* partners screen ends here */
/* keep all it together starts here */
.keep-all-together .container{
  padding-top: 160px;
}
.quality__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 78%;
  overflow: hidden;
  background: #2C353D;
  border-radius: 24px;
  z-index: -1;
}
.quality__bg:before {
  top: -280px;
  left: -280px;
  width: 560px;
  height: 560px;
  opacity: 0.6;
  -webkit-filter: blur(278.261px);
  filter: blur(278.261px);
}
.quality__bg:after {
  right: -194px;
  bottom: -181px;
  width: 390px;
  height: 390px;
  -webkit-filter: blur(160px);
  filter: blur(160px);
  opacity: 0.6;
}
.quality__bg:before, .quality__bg:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background: -webkit-linear-gradient(314.85deg, #AE80DC 1.17%, #DC83C3 31.88%, #8084DC 65.46%);
  background: -o-linear-gradient(314.85deg, #AE80DC 1.17%, #DC83C3 31.88%, #8084DC 65.46%);
  background: linear-gradient(135.15deg, #AE80DC 1.17%, #DC83C3 31.88%, #8084DC 65.46%);
}
.keep-all-together .illustration2 {
  left: 30%;
  top: -30%;
}
.keep-all-together .illustration2 img{
  animation: bounceUp 3s infinite;
}
.keep-all-together .illustration3 {
  left: 0;
  top: 0;
}
.keep-all-together .illustration3 img{
  animation: bounceUp 5s infinite;
}
.keep-all-together .illustration4 {
  right: 0;
  top: 0;
}
.keep-all-together .illustration4 img{
  animation: bounceUp 5s infinite;
}
.keep-all-together .cta .schedule-demo{
  color: var(--light);
  background: transparent;
  border: 2px solid var(--light);
}
.keep-all-together .cta .schedule-demo:hover{
  color: var(--primary);
  border: 2px solid var(--primary);
}
.keep-all-together .title h3 {
  font-size: 30px;
  letter-spacing: 2px;
}
.keep-all-together .counter{
  background: linear-gradient(90.33deg, #FEA989 0.02%, #99B4DB 98.92%);
}
.keep-all-together .counter .number h2{
  font-size: 40px;
}
.keep-all-together .counter .description .badge{
  background: var(--primary);
  border-radius: 15px;
  display: inline-block;
  padding: 10px 15px;
}
/* keep all it together ends here */
/* fast-simple-effortless starts here */
.fast-simple-effortless{
  padding-top: 160px;
  padding-bottom: 160px;
}
.fast-simple-effortless .title span{
  text-transform: uppercase;
}
.fast-simple-effortless .title h2{
  font-size: 40px;
}
.fast-simple-effortless .steps:not(:last-child){
  height: 240px;
  border-right: 2px solid var(--secondary);
}
.fast-simple-effortless .step-img{
  min-height: 60px;
}
.fast-simple-effortless .badge span{
  background: var(--light);
  padding:10px;
  display: inline-block;
  border-radius: 15px;
}
/* fast-simple-effortless ends here */
/* app features starts here */
.app-features{
  padding-bottom: 160px;
}
.app-features .title span{
  text-transform: uppercase;
}
.app-features .title h2{
  font-size: 40px;
}
.app-features .illustration .figure1{
  top: 50%;
  left: -85px;
}
.app-features .illustration .figure2{
  bottom: -30px;
  left: 70px;
}
.app-features .advantages-content .marker {
  margin-left: -140px;
}
.app-features .advantages-content .cta a{
  color: var(--white);
  background: transparent;
  border: 2px solid var(--white);
}
.app-features .advantages-content .cta a:hover{
  color: var(--primary);
  border: 2px solid var(--primary);
}
.app-features .illustration.second .figure1 {
  top: 25%;
  left: unset;
  right: 0;
}
.app-features .illustration.second .figure1 img{
  width: 78px;
}
.app-features .illustration.second .figure2 {
  bottom: -60px;
  left: 70px;
}
.app-features .illustration.third .figure1 {
  top: 25%;
  left: -10px;
}
/* app features ends here */
/* history screen starts here */
.history .container{
  padding: 60px 50px;
}
.history .quality__bg {
  height: 100%;
}
.history .quality__bg::after{
  opacity: 0 !important;
}
.history .intro span{
  text-transform: uppercase;
}
.history .title h3{
  font-size: 40px;
}
.history .cta a{
  color: var(--white);
  background: transparent;
  border: 2px solid var(--white);
}
.history .cta a:hover{
  color: var(--primary);
  border: 2px solid var(--primary);
}
.history .illustration .figure1 img{
  width: 680px;
}
.history .illustration .figure2{
  top: -25%;
  left: 25%;
}
.history .illustration .figure2 img{
  width: 200px;
  animation: bounceUp 4s infinite;
}
.history .illustration .figure3 {
  top: -5%;
  right: -25%;
}
.history .illustration .figure3 img{
  width: 250px;
  animation: bounceUp 3s infinite;
}
/* history screen ends here */
/* options screen starts here */
.options{
  padding: 160px 0px;
}
.options .option{
  padding: 10px;
  min-height: 300px;
}
.options .option-img img {
  min-height: 50px;
}
.options .option .title{
  min-height: 100px;
  max-width: 70%;
}
.options .option .title::before{
  content: '';
  width: 70px;
  position: absolute;
  top: 50%;
  border-bottom: 2px solid var(--secondary);
}
.options .option .description{
  max-width: 80%;
}
/* options screen ends here */
/* amazing features starts here */
.amazing-features{
  padding-bottom: 160px;
}
.amazing-features .illustration{
  margin-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 128px;
  -webkit-box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.06);
  background: var(--light);
  border-radius: 24px;
}
.amazing-features .title h3{
  font-size: 40px;
}
.amazing-features .cta a{
  color: var(--white);
  background: transparent;
  border: 2px solid var(--white);
}
.amazing-features .cta a:hover{
  color: var(--primary);
  border: 2px solid var(--primary);
}
.amazing-features .illustration2 {
  top: 25%;
  left: 10%;
}
.amazing-features .illustration2 img{
  width: 200px;
  animation: bounceUp 3s infinite;
}
.amazing-features .illustration3 {
  top: 5%;
  right: 15%;
}
.amazing-features .illustration3 img{
  width: 250px;
  animation: bounceUp 4s infinite;
}
.amazing-features .row-illustration3 .illustration1 img{
  max-width: 660px;
}
.amazing-features .row-illustration3 .illustration2 {
  top: 0%;
  left: 15%;
}
/* amazing features ends here */
/* productivity screen starts here */
.productivity .container{
  padding: 160px 0px;
  box-shadow: #2C353D;
}
.productivity .quality__bg::after{
  opacity: 0;
}
.productivity .illustration .figure1 {
  top: 15%;
  left: 0;
}
.productivity .illustration .figure1 img{
  max-width: 650px;
}
.productivity .illustration .figure2 {
  top: -10%;
  left: -15%;
}
.productivity .illustration .figure2 img{
  max-width: 872px;
}
.productivity .content{
  margin-top: 150px;
}
.productivity .content .intro span{
  text-transform: uppercase;
}
.productivity .content .cta a{
  color: var(--white);
  background: transparent;
  border: 2px solid var(--white);
}
.productivity .content .cta a:hover{
  color: var(--primary);
  border: 2px solid var(--primary);
}
.productivity .productivity-item:not(:last-child) {
  border-bottom: 2px solid var(--light);
}
.productivity-item .productivity-description h5{
  color: var(--white);
}
.productivity-item .productivity-description p{
  color: var(--light);
}
/* productivity screen ends here */
/* testimonials starts here */
.testimonials{
  padding-bottom: 160px;
}
.testimonials .testimonial:focus{
  border: none;
  outline: none;
  box-shadow: none;
}
.testimonials .title h2{
  font-size: 40px;
  font-weight: bolder;
}
.testimonials .testimonial .rating .fa-star{
  color: var(--primary);
  font-size: 22px;
}
.testimonials .testimonial .comment p{
  font-size: 22px;
  font-weight: bolder;
}
.testimonials .testimonials-slider .slick-arrow{
  position: absolute;
  background: none;
  color: var(--light);
  border: none;
  bottom: -100px;
  font-size: 34px;
}
.testimonials .testimonials-slider .slick-arrow:hover{
  color: var(--white);
}
.testimonials .testimonials-slider .slick-prev {
  left: 40%;
}
.testimonials .testimonials-slider .slick-prev::after {
  display: inline-block;
  content: "";
  border-top: 3px solid var(--light);
  width: 3rem;
  margin-bottom: 0.6rem;
  margin-left: -0.6rem;
}
.testimonials .testimonials-slider .slick-prev:hover::after {
  border-top: 3px solid var(--white);
}
.testimonials .testimonials-slider .slick-next {
  right: 40%;
}
.testimonials .testimonials-slider .slick-next::after {
  display: inline-block;
  content: "";
  border-top: 3px solid var(--light);
  width: 3rem;
  margin-bottom: 0.6rem;
  margin-left: -3.3rem;
}
.testimonials .testimonials-slider .slick-next:hover::after {
  border-top: 3px solid var(--white);
}
/* testimonials ends here */
/* solo today screen starts here */
.solo-today .container{
  padding-bottom: 160px;
}
.solo-today .quality__bg::after{
  opacity: 0;
}
.solo-today .content{
  padding: 100px;
}
.solo-today .content .title h2{
  font-size: 60px;
}
.solo-today .illustration .figure1{
  margin-top: 150px;
}
.solo-today .illustration .figure1 img{
  max-width: 666px;
}
.solo-today .illustration .figure2{
  top: -25%;
  left: 43%;
}
.solo-today .illustration .figure2 img{
  max-width: 250px;
}
/* solo today screen ends here */
/* footer starts here */
.footer .footer-logo img{
  max-width: 150px;
}
.footer .footer-border{
  border-bottom: 2px solid var(--secondary);
}
.footer .footer-menu li a{
  text-decoration: none;
}
.footer .footer-menu li a:hover{
  color: var(--primary) !important;
}
.footer .copyright p a{
  color: var(--light);
  text-decoration: underline;
}
.footer .copyright p a:hover{
  color: var(--primary);
}
.footer .social-icons li a{
  font-size: 18px;
}
.footer .social-icons li a:hover i{
  color: var(--primary);
}
/* footer ends here */
@keyframes bounceUp {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveCycle {
  0% {
    transform: translate(0px,0px);
  }
  25% {
    transform: translate(-5px,5px);
  }
  50% {
    transform: translate(-15px,15px);
  }
  75% {
    transform: translate(-30px,30px);
  }
  100% {
    transform: translate(-50px,50px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}