@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --primary: #FF6E30;
  --secondary: #748FB5;
  --dark : #1E252B;
  --light: #6E757C;
  --white: #ffffff;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--dark);
}
.primary{
  color: var(--primary) !important;
}
.secondary{
  color: var(--secondary) !important;
}
.dark{
  color: var(--dark) !important;
}
.light{
  color: var(--light) !important;
}
.white{
  color: var(--white) !important;
}
.button{
  display: inline-block;
  padding: 10px 25px;
  color: var(--white);
  background: var(--primary);
  border-radius: 15px;
}
.button:hover{
  color: var(--primary);
  background: var(--white);
  text-decoration: none;

}
.navbar-brand img{
  width: 140px;
}
.navbar-nav .nav-item .nav-link{
  color: var(--light);
  margin: 20px 5px;
  display: inline-block;
  padding: 10px 20px;
  font-weight: 500;
}
.navbar-nav .nav-item .nav-link:hover, .navbar-nav .nav-item.active .nav-link{
  color: var(--primary);
}
.navbar-nav.login-signup .nav-link.signup{
  background: var(--primary);
  border-radius: 15px;
  padding: 10px 25px;
  color: var(--white);
}
.navbar-nav.login-signup .nav-link.signup:hover{
  background: var(--white);
  border-radius: 15px;
  padding: 10px 25px;
  color: var(--primary);
}
/* home landing screen css starts here*/
.landing-screen{
  padding-top: 200px;
  padding-bottom: 200px;
}
.landing-screen .risk-free span{
  text-transform: uppercase;
}
.landing-screen .title{
  width: 70%;
}
.landing-screen .title h1{
  font-weight: bolder;
  font-size: 52px;
  letter-spacing: 2px;
}
.landing-screen .description{
  width: 50%;
}
.landing-screen .cta .how-it-works{
  color: var(--light);
  background: transparent;
  border: 2px solid var(--light);
}
.landing-screen .cta .how-it-works:hover{
  color: var(--primary);
  background: transparent;
  border: 2px solid var(--primary);
}
.landing-screen .figures-1 {
  top: 35%;
  right: 32%;
  width: 350px;
}
.landing-screen .figures-1 img{
  animation: moveCycle 2s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.1s;
}
.landing-screen .figures-2 {
  width: 500px;
  left: 62%;
  z-index: 1;
  top: 33%;
}
.landing-screen .figures-3 {
  top: 25%;
  right: 0;
  max-width: 950px
}
/* landing screen ends here */
/* partners screen starts here */
.partners{
  padding-top: 160px;
  padding-bottom: 160px;
}
/* partners screen ends here */
/* keep all it together starts here */
.keep-all-together{
  padding-top: 160px;
  background: var(--white);
}
.keep-all-together .illustration2 {
  left: 30%;
  top: -30%;
}
.keep-all-together .illustration2 img{
  animation: bounceUp 3s infinite;
}
.keep-all-together .illustration3 {
  left: 0;
  top: 0;
}
.keep-all-together .illustration3 img{
  animation: bounceUp 5s infinite;
}
.keep-all-together .illustration4 {
  right: 0;
  top: 0;
}
.keep-all-together .illustration4 img{
  animation: bounceUp 5s infinite;
}
.keep-all-together .cta .schedule-demo{
  color: var(--light);
  background: transparent;
  border: 2px solid var(--light);
}
.keep-all-together .cta .schedule-demo:hover{
  color: var(--primary);
  border: 2px solid var(--primary);
}
.keep-all-together .title h3 {
  font-size: 30px;
  letter-spacing: 2px;
}
.keep-all-together .counter{
  background: var(--dark);
}
.keep-all-together .counter .number h2{
  font-size: 38px;
}
.keep-all-together .counter .description .badge{
  background: var(--primary);
}
/* keep all it together ends here */
/* fast-simple-effortless starts here */
.fast-simple-effortless{
  padding-top: 160px;
  padding-bottom: 160px;
}

/* fast-simple-effortless ends here */
@keyframes bounceUp {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes moveCycle {
  0% {
    transform: translate(0px,0px);
  }
  25% {
    transform: translate(-5px,5px);
  }
  50% {
    transform: translate(-15px,15px);
  }
  75% {
    transform: translate(-30px,30px);
  }
  100% {
    transform: translate(-50px,50px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}